<div class="well" style="margin-bottom:0;padding:32px auto;">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<center>
				<p>
					<a href="http://facebook.com/easyctf" target="_blank" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Facebook"><span class="fa fa-facebook fa-fw"></span></a>
					&nbsp;&nbsp;
					<a href="http://twitter.com/easyctf" target="_blank" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Twitter"><span class="fa fa-twitter fa-fw"></span></a>
					&nbsp;&nbsp;
					<a href="http://github.com/easyctf" target="_blank" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Github"><span class="fa fa-github fa-fw"></span></a>
				</p>
				<p>
					Made with <span style="color:red">&hearts;</span> by the EasyCTF Team. &copy; 2015.
				</p>
				<p>
					EasyCTF is supported by its sponsors, including <a href="http://trailofbits.com" target="_blank">Trail of Bits</a>, an independent information security company that leverages its world-class experience in security research, red teaming and incident response to enable enterprises to make better strategic security decisions.  
				</p>
			</center>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(function () {
		$('[data-toggle="tooltip"]').tooltip();
	});
</script>