<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand navbar-brand-lime dropdown-toggle" href="/" id="main-brand"><img src="/images/logo.png" width="24" height="24" style="display:inline-block;" />&nbsp;EasyCTF 2015</a>
			<ul class="nav navbar-nav" id="ctf-selector-menu-list">
				<li class="dropdown">
					<a class="dropdown-toggle" id="dropdown-ctf-selector" data-toggle="dropdown" href="#">
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu" id="ctf-selector-menu">
						<li class="easyctf2014-link"><a role="menuitem" tabindex="-1" href="//2014.easyctf.com" class="easyctf2014-link">EasyCTF 2014</a></li>
					</ul>
				</li>
			</ul>
		</div>

		<div class="collapse navbar-collapse" id="main-navbar">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-info-circle fa-fw"></i> About <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li id="link_about"><a href="/about"><i class="fa fa-info-circle fa-fw"></i> About</a></li>
						<li id="link_sponsors"><a href="/sponsors"><i class="fa fa-suitcase fa-fw"></i> Sponsors</a></li>
						<li id="link_rules"><a href="/rules"><i class="fa fa-trophy fa-fw"></i> Rules and Prizes</a></li>
						<li id="link_updates"><a href="/updates"><i class="fa fa-refresh fa-fw"></i> Updates</a></li>
					</ul>
				</li>
				<li id="link_scoreboard"><a href="/scoreboard"><i class="fa fa-bars fa-fw"></i> Scoreboard</a></li>
				<li id="link_learn"><a href="/learn"><i class="fa fa-book fa-fw"></i> Learn</a></li>
				<li id="link_writeups"><a href="http://writeups.easyctf.com"><i class="fa fa-pencil-square-o fa-fw"></i> Writeups</a></li>
				<!-- <li id="link_statistics"><a href="#"><i class="fa fa-bar-chart fa-fw"></i> Statistics</a></li> -->
			</ul>
			<ul class="nav navbar-nav navbar-right" id="competition-nav" style="display:none;">
				<li class="dropdown">
					<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-pencil fa-fw"></i> Problems <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li id="link_problems"><a href="/problems"><i class="fa fa-pencil fa-fw"></i> Problems</a></li>
						<li id="link_shell"><a href="/shell"><i class="fa fa-terminal fa-fw"></i> Shell</a></li>
						<li id="link_programming"><a href="/programming"><i class="fa fa-code fa-fw"></i> Programming</a></li>
					</ul>
				</li>
				<li id="link_chat"><a href="/chat"><i class="fa fa-comments fa-fw"></i> Chat</a></li>
				<li class="dropdown">
					<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="account_link">Account</span> <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li id="link_account"><a href="/account"><i class="fa fa-sliders fa-fw"></i> Settings</a></li>
						<li id="link_logout"><a href="/api/user/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right" id="login-nav" style="display:none;">
				<li id="link_chat"><a href="/chat"><i class="fa fa-comments fa-fw"></i> Chat</a></li>
				<li class="dropdown">
					<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="account_link">Account</span> <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li id="link_account"><a href="/account"><i class="fa fa-sliders fa-fw"></i> Settings</a></li>
						<li id="link_logout"><a href="/api/user/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right" id="noteam-nav" style="display:none;">
				<li id="link_findteam"><a href="/findteam"><i class="fa fa-user-plus fa-fw"></i> Find Team</a></li>
				<li id="link_chat"><a href="/chat"><i class="fa fa-comments fa-fw"></i> Chat</a></li>
				<li class="dropdown">
					<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="account_link">Account</span> <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li id="link_account"><a href="/account"><i class="fa fa-sliders fa-fw"></i> Settings</a></li>
						<li id="link_logout"><a href="/api/user/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right" id="teacher-nav" style="display:none;">
				<li id="link_classroom"><a href="/classroom"><i class="fa fa-group fa-fw"></i> Classroom</a></li>
				<li id="link_chat"><a href="/chat"><i class="fa fa-comments fa-fw"></i> Chat</a></li>
				<li class="dropdown">
					<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="account_link">Account</span> <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li id="link_account"><a href="/account"><i class="fa fa-sliders fa-fw"></i> Settings</a></li>
						<li id="link_logout"><a href="/api/user/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right" id="nologin-nav" style="display:none;">
				<li id="link_register"><a href="/register"><i class="fa fa-check-square fa-fw"></i> Register</a></li>
				<li id="link_login"><a href="/login"><i class="fa fa-sign-in"></i> Login</a></li>
			</ul>
		</div>
	</div>
</nav>

<script type="text/javascript">
try {
	$("#link_" + location.pathname.substring(1)).addClass("active");
} catch(e) {
	// do nothing
}
</script>